@using MaxEndLabs.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	

	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
				<a class="nav-link text-dark fs-5 px-3" asp-area="" asp-controller="ShoppingCart" asp-action="Index" title="Shopping Cart">
				<i class="fa-solid fa-cart-shopping"></i>
			</a>
		</li>
		<li class="nav-item">
				<a class="nav-link text-dark fs-5 px-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Account Manager">
					<i class="fa-solid fa-user"></i></a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="nav-link btn btn-link text-dark fs-5 px-3" title="Logout">
						<i class="fa fa-sign-out" aria-hidden="true"></i>
				</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark hide-caret fs-5 px-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-solid fa-user me-1"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdown" title="Account">
				<li>
						<a class="dropdown-item fs-5 px-3" asp-area="Identity" asp-page="/Account/Login">
						<i class="fa-solid fa-right-to-bracket me-2"></i> Login
					</a>
				</li>
				<li>
						<a class="dropdown-item fs-5 px-3" asp-area="Identity" asp-page="/Account/Register">
						<i class="fa-solid fa-user-plus me-2"></i> Register
					</a>
				</li>
			</ul>
		</li>
	}
</ul>
