@model OrderPaginationViewModel

<div class="card border-0 shadow-sm rounded-4 overflow-hidden mb-4">
	<div class="card-header bg-white border-bottom-0 pt-4 px-4 d-flex justify-content-between align-items-center">
		<div>
			<h4 class="fw-bold mb-0 text-dark">Your Activity</h4>
			<p class="text-muted small mb-0">Track and manage your recent orders</p>
		</div>
		<i class="fa-solid fa-clock-rotate-left text-primary fs-4"></i>
	</div>

	<partial name="_OrderListPartial" model="Model"/>
	
</div>

@section Scripts {
		<script src="~/js/orderHomePagination.js"></script>
}
