@model IEnumerable<MaxEndLabs.ViewModels.ProductIndexViewModel>

<h2>Categories</h2>
<div class="row">
	@foreach (var category in Model)
	{
		<div class="col-md-3 mb-3">
			<div class="card h-100">
				<div class="card-body text-center">
					<h5 class="card-title">@category.Name</h5>
					<a class="btn btn-primary" asp-controller="Products" asp-action="ByCategory" asp-route-slug="@category.Slug">View Products</a>
				</div>
			</div>
		</div>
	}
	<div class="col-md-3 mb-3">
		<div class="card h-100">
			<div class="card-body text-center">
				<h5 class="card-title">All</h5>
				<a class="btn btn-primary" asp-controller="Products" asp-action="AllProducts">View Products</a>
			</div>
		</div>
	</div>
</div>