@model IEnumerable<MaxEndLabs.ViewModels.Product.ProductIndexViewModel>

<li class="nav-item dropdown custom-hover-dropdown">
	<a class="nav-link dropdown-toggle text-dark hide-caret fw-bold text-uppercase fs-5 px-3" 
	   asp-controller="Products" 
	   asp-action="Index" 
	   id="catDropdown" role="button">
		<i class="fa-solid fa-store"></i> Shop
	</a>
	<ul class="dropdown-menu shadow border-0 mt-0" aria-labelledby="catDropdown">
		<li>
			<a class="dropdown-item fw-bold fs-5 px-3" asp-controller="Products" asp-action="AllProducts">
				All Products
			</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		@foreach (var category in Model)
		{
			<li>
					<a class="dropdown-item fs-5 px-3" 
				   asp-controller="Products" 
				   asp-action="ByCategory" 
					   asp-route-slug="@category.Slug">
					@category.Name
				</a>
			</li>
		}
	</ul>
</li>