@model OrderPaginationViewModel
@{
	ViewData["Title"] = "Order Manager";
}
<div class="container mt-4">
	<h2>Order Management</h2>

	<div class="mb-4">
        <partial name="_OrderSearchPartial" model="Model"/>
	</div>

	<div id="orderManagerBoxFullWrapper">
		<partial name="_OrderAdminListPartial" model="Model"/>
	</div>
</div>

<partial name="_OrderModalShell"/>
@section Scripts
{
	<script src="~/js/orderDetails.js"></script>
	<script>  			
	$(document).on('hidden.bs.modal', '#orderModal', function () {
	    location.reload(); 
	});
	</script>
}


