@using Microsoft.CodeAnalysis.Scripting
@model OrderPaginationViewModel

<div class="container mt-4">
	<h2>Order Management</h2>

	<div class="mb-4">
        <partial name="_OrderSearchPartial" model="Model"/>
	</div>

	<div id="orderManagerBoxFullWrapper">
		<partial name="_OrderAdminList" model="Model"/>
	</div>
</div>

<partial name="_OrderModalShell"/>

<script src="~/js/orderDetails.js"></script>
@*<script src="~/js/orderManager.js"></script>*@

@section Scripts {
        <script>
               // Listen for when the modal is FULLY closed
    $(document).on('hidden.bs.modal', '#orderModal', function () {
        // This reloads the current URL (e.g., /Admin/Order?page=3)
        // The user sees the updated status immediately!
        location.reload(); 
    });
        </script>
}
